@media all {
    .img-circle, img {
        border-radius: 6px;
        height: auto;
        max-width: 100%;
    }

    .navbar-nav > li.top-user-menu.with-main-character > .dropdown-menu {
        padding-top: 0.5rem;
    }

    .navbar-nav > li.top-user-menu.with-main-character a {
        padding: 14px;
    }
}

/* eve time in navbar
------------------------------------------------------------------------------------- */
@media all {
    .nav-item-eve-time .eve-time-wrapper {
        color: rgb(255, 255, 255);
        display: block;
        line-height: 21px;
        padding: 10px 15px;
        position: relative;
    }
}

/* eve time in navbar
------------------------------------------------------------------------------------- */
@media all and (min-width: 768px) {
    .nav-item-eve-time .eve-time-wrapper {
        padding-bottom: 19.5px;
        padding-top: 19.5px;
    }
}
